# Configuration for ls-wol-proxy

# The MAC address of the device you want to wake up
LS_WOL_MAC=XX:XX:XX:XX:XX:XX

# The upstream URL/IP where the proxy should forward requests
# (e.g., the IP of your local server or another proxy)
# Use https:// for SSL. Set LS_WOL_INSECURE=true to skip verification for self-signed certs.
LS_WOL_UPSTREAM=http://example.com:8080
LS_WOL_INSECURE=false

# The port the proxy listens on (default: 8080)
LS_WOL_LISTEN=:8080

# Logging level (debug, info, warn, error) (default: info)
LS_WOL_LOG=info

# Idle timeout in seconds (default: 60)
LS_WOL_TIMEOUT=60
